:root {
  color-scheme: light;
  --primary: #000000;
  --secondary: #6a5762;
  --tab-selected: #000000;
  --on-tab-selected: #f4edec;
  --background: #f4edec;
  --keylines: #d6c8c2;
  --punctuation: #807684;
  --collapsed-count: #807684;
  --string: #715b6d;
  --number: #a8334d;
  --boolean: #88507d;
  --key: #000000;
  --null: #807684;
  --control-bar-background: #e2d9d6;
  --line-focused: #eae5e5;
  --selection: #d6c8c2;
  --on-selection: #000000;
}
