:root {
  color-scheme: light;
  --primary: #000000;
  --secondary: #888888;
  --tab-selected: #000000;
  --on-tab-selected: #ffffff;
  --background: #ffffff;
  --keylines: #dddddd;
  --punctuation: #888888;
  --collapsed-count: #888888;
  --string: #0C8D19;
  --number: #2650BB;
  --boolean: #BA1C42;
  --key: #000000;
  --null: #888888;
  --control-bar-background: #eeeeee;
  --control-bar-shadow: rgba(0, 0, 0, 0.1);
  --line-focused: #eeeeee;
  --selection: #cccccc;
  --on-selection: #000000;
}