:root {
  color-scheme: dark;
  --primary: #EDE2C5;
  --secondary: #918474;
  --tab-selected: #EDE2C5;
  --on-tab-selected: #202020;
  --background: #202020;
  --keylines: #424242;
  --punctuation: #918474;
  --collapsed-count: #918474;
  --string: #8DC07C;
  --number: #FB4834;
  --boolean: #189DFC;
  --key: #EDE2C5;
  --null: #A9B7C5;
  --control-bar-background: #3D3D3D;
  --control-bar-shadow: rgba(255, 255, 255, 0.1);
  --line-focused: #323232;
  --selection: #555555;
  --on-selection: inherit;
}